name: main push workflow

on:
  push:
    branches: [main]
    paths:
      - psychopy_linux_installer
      - .github/workflows/main_push_workflow.yaml
      - .github/workflows/reusable_*.yaml
      - .github/PsychoPy_tests/**
  workflow_dispatch:

concurrency:
  group: main_push_workflow
  cancel-in-progress: false

jobs:
  syntax-check:
    uses: ./.github/workflows/reusable_syntax_check.yaml

  # Check if a release already exists and what type
  check-if-release:
    name: Check if Release
    needs: syntax-check
    uses: ./.github/workflows/reusable_release_manager.yaml
    with:
      release-method: check-release

  # For no-release
  test-installation-no-release:
    name: Test Installation (no new release)
    needs: check-if-release
    if: needs.check-if-release.outputs.result == 'no-release'
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test-mode: "quick"
    
  # For patch-release
  create-pre-release-patch:
    name: Create pre-release (patch)
    needs: check-if-release
    if: needs.check-if-release.outputs.result == 'patch-release'
    uses: ./.github/workflows/reusable_release_manager.yaml
    with:
      release-method: create-pre-release
      
  copy-binaries-patch:
    name: copy Binaries
    needs: create-pre-release-patch
    if: needs.check-if-release.outputs.result == 'patch-release'
    uses: ./.github/workflows/reusable_copy_release_assets.yaml

  test-installation-patch:
    name: Test Installation (patch release)
    needs: copy-binaries-patch
    if: needs.check-if-release.outputs.result == 'patch-release'
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test-mode: "quick"

  create-release-patch:
    name: Create release (patch)
    needs: test-installation-patch
    if: needs.check-if-release.outputs.result == 'patch-release'
    uses: ./.github/workflows/reusable_release_manager.yaml
    with:
      release-method: create-release

  # For full release
  # test-installation-build:
  #   name: Test Installation (Build)
  #   needs: check-if-release
  #   if: needs.check-if-release.outputs.result == 'release'
  #   uses: ./.github/workflows/reusable_test.yaml
  #   with:
  #     test-mode: "build"

  create-pre-release:
    name: Create pre-release
    needs: check-if-release
    #needs: test-installation-build
    if: needs.check-if-release.outputs.result == 'release'
    uses: ./.github/workflows/reusable_release_manager.yaml
    with:
      release-method: create-pre-release

  build-binaries:
    name: Build Binaries
    needs: create-pre-release
    if: needs.check-if-release.outputs.result == 'release'
    uses: ./.github/workflows/reusable_build.yaml

  test-installation-release:
    name: Test Installation (new release)
    needs: build-binaries
    if: needs.check-if-release.outputs.result == 'release'
    uses: ./.github/workflows/reusable_test.yaml

  create-release:
    name: Create release
    needs: test-installation-release
    if: needs.check-if-release.outputs.result == 'release'
    uses: ./.github/workflows/reusable_release_manager.yaml
    with:
      release-method: create-release