name: pull request workflow

on:
  pull_request:
    branches:
      - main
    paths:
      - psychopy_linux_installer
      - .github/workflows/**
      - .github/PsychoPy_tests/**
  workflow_dispatch:

jobs:
  # Initial syntax check
  syntax-check:
    uses: ./.github/workflows/reusable_syntax_check.yaml
  
  # Test installation with build
  test-installation-quick:
    needs: syntax-check
    uses: ./.github/workflows/reusable_test.yaml