name: reusable test workflow

on:
  workflow_call:
    inputs:
      build-mode:
        required: false
        type: boolean
        default: false
        description: 'Whether to run tests with build mode enabled'
      quick-mode:
        required: false
        type: boolean
        default: false
        description: 'Run in quick mode with only ubuntu-latest as the OS'

jobs:
  run-installer:
    runs-on: ${{ inputs.quick-mode && fromJson(format('["{0}"]', matrix.os)) || fromJson(format('["self-hosted", "{0}"]', matrix.os)) }}
    strategy:
      matrix:
        os: ${{ inputs.quick-mode && fromJson('["ubuntu-24.04", "ubuntu-22.04", "ubuntu-20.04"]') || fromJson('["ubuntu-24", "ubuntu-22", "ubuntu-20", "debian-12", "debian-11", "fedora-39", "fedora-40", "pop-22", "rocky-9", "centos-9", "manjarolinux-25", "opensuse-leap-15", "linuxmint-22"]') }}
        python_version: ${{ inputs.build-mode && fromJson('["3.10"]') || fromJson('["3.8", "3.9", "3.10"]') }}
        psychopy_version: ${{ inputs.build-mode && fromJson('["latest"]') || fromJson('["latest", "2024.1.4", "2023.2.3"]') }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup environment and install
        env:
          PYTHON_VERSION: ${{ matrix.python_version }}
          PSYCHOPY_VERSION: ${{ matrix.psychopy_version }}
        run: |    
          sudo chmod +x $GITHUB_WORKSPACE/psychopy_linux_installer
          sudo rm -rf /tmp_dir
          sudo mkdir /tmp_dir
          sudo chown -R $USER:$(id -gn $USER) /tmp_dir
          cp -rf $GITHUB_WORKSPACE/.github/PsychoPy_tests /tmp_dir/
          
          BUILD_FLAG="${{ inputs.build-mode && '--build=both' || '' }}"
          ARGS="--python-version=$PYTHON_VERSION --psychopy-version=$PSYCHOPY_VERSION --install-dir=/tmp_dir --venv-name=psychopy -f --non-interactive --additional-packages=pytest $BUILD_FLAG"
          $GITHUB_WORKSPACE/psychopy_linux_installer $ARGS

      - name: Verify PsychoPy installation and version
        run: |
          if [ "$PSYCHOPY_VERSION" = "latest" ]; then
            PSYCHOPY_VERSION=$(curl -s "https://pypi.org/pypi/psychopy/json" | jq -r .info.version)
          fi
          
          if ! /tmp_dir/psychopy/bin/psychopy -v | grep -qE "PsychoPy3, version $PSYCHOPY_VERSION"; then
              echo "PsychoPy version check failed. Expected version: $PSYCHOPY_VERSION"
              exit 1
          else
              /tmp_dir/psychopy/bin/psychopy -v
          fi
        
      - name: Install xvfb
        if: ${{ inputs.quick-mode }}
        run: |
          sudo apt-get update && sudo apt-get install -y xvfb

      - name: Run PsychoPy pytest
        run: |
          echo "Starting PsychoPy pytest..."
          if [ "${{ inputs.quick-mode }}" = "true" ]; then
            sleep 3
            xvfb-run -s "-screen 0 1024x768x24" /tmp_dir/psychopy/bin/python -m pytest .github/PsychoPy_tests/psychopy_test.py -v --disable-warnings
          else
            /tmp_dir/psychopy/bin/python -m pytest .github/PsychoPy_tests/psychopy_test.py -v --disable-warnings
          fi
          echo "PsychoPy pytest completed"
      
      - name: Run Stroop Test
        id: run_stroop
        if: ${{ matrix.psychopy_version == 'latest' }}
        run: |
          echo "Starting PsychoPy stroop test..."
          if [ "${{ inputs.quick-mode }}" = "true" ]; then
            sleep 3
            xvfb-run -s "-screen 0 1024x768x24" /tmp_dir/psychopy/bin/python .github/PsychoPy_tests/stroop/stroop_lastrun.py
          else
            /tmp_dir/psychopy/bin/python .github/PsychoPy_tests/stroop/stroop_lastrun.py
          fi
          echo "PsychoPy stroop test completed"

      - name: Cleanup
        if: always()
        run: |
          sudo rm -rf /tmp_dir ~/Desktop/* ~/.local/share/applications/* 
