name: weekly scheduled workflow

on:
  schedule:
    - cron: '30 8 * * THU'
  workflow_dispatch:

jobs:
  # Test installation
  test-installation-quick:
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test-mode: "quick"
